{% extends 'master.html' %}

{% load static %}

{% block title %}
<title>Flex Appeal || Reset Password Successful</title>
{% endblock %}

{% block content %}

<div class="main-banner" id="top">
    <video autoplay muted loop id="bg-video">
        <source src="{% static 'images/gym-video.mp4' %}" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
        <div class="caption">
            <div class="container bg-white p-4 rounded shadow mt-5">
                <h5 class="text-center mb-4" style="font-size: 24px; font-weight: bold; color: #333;">Password Reset Successful!</h5>
                
                <p class="text-center" style="font-size: 16px; color: #555;">
                    Your password has been reset. You may go ahead and Login now.
                </p>
                
                <div class="text-center mt-3">
                    <a href="{% url 'index' %}" class="btn btn-primary" style="background-color: #ed563b; border: none;">
                        Return to Login
                    </a>
                </div>
            </div>   
        </div>
    </div>
</div>

{% endblock %}
