{% load static %}

<!-- ***** Features Item Start ***** -->
<section class="section" id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2>Recommended <em>Program</em></h2>
                    <img src="{% static 'images/line-dec.png' %}" alt="waves">
                    <p>Flex Appeal has a bunch of different workouts that will be suggested to the user. They're all about helping you get fit and strong. </p>
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="features-items">
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="{% static 'images/features-first-icon.png' %}" alt="First One">
                        </div>
                        <div class="right-content">
                            <h4>Chest Workout</h4>
                            <p>Effective chest workouts will include all of these classic chest exercises because they are great for overloading upper, mid and lower chest.</p>
                            <a href="#" class="text-button">Discover More</a>
                        </div>
                    </li>
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="{% static 'images/features-first-icon.png' %}" alt="second one">
                        </div>
                        <div class="right-content">
                            <h4>Back Workout</h4>
                            <p>Introduction to gym equipment and basic workout routines for beginners. Learn to use essential exercise to start your fitness journey.</p>
                            <a href="#" class="text-button">Discover More</a>
                        </div>
                    </li>
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="{% static 'images/features-first-icon.png' %}" alt="third gym training">
                        </div>
                        <div class="right-content">
                            <h4>Legs Workout</h4>
                            <p>The basic lower body movements — squats, hip hinges (deadlifts), and lunges — should comprise the majority of your programming.</p>
                            <a href="#" class="text-button">Discover More</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="features-items">
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="{% static 'images/features-first-icon.png' %}" alt="fourth muscle">
                        </div>
                        <div class="right-content">
                            <h4>Arm Workout</h4>
                            <p>Arm workout has lots of benefits. It protects bones, supports other exercises, reduces injury risk, improves posture, boosts heart health, and lower stress levels..</p>
                            <a href="#" class="text-button">Discover More</a>
                        </div>
                    </li>
                    <li class="feature-item">
                        <div class="left-icon">
                            <img src="{% static 'images/features-first-icon.png' %}" alt="training fifth">
                        </div>
                        <div class="right-content">
                            <h4>Shoulder Workout</h4>
                            <p> Press the weights up and toward each other as you straighten your arms. At the top of the movement, keep a slight bend in your elbows.</p>
                            <a href="#" class="text-button">Discover More</a>
                        </div>
                    </li>
                    <!-- <li class="feature-item">
                        <div class="left-icon">
                            <img src="{% static 'images/features-first-icon.png' %}" alt="gym training">
                        </div>
                        <div class="right-content">
                            <h4>Body Building Course</h4>
                            <p>Suspendisse fringilla et nisi et mattis. Curabitur sed finibus nisi. Integer nibh sapien, vehicula et auctor.</p>
                            <a href="#" class="text-button">Discover More</a>
                        </div>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Item End ***** -->