{% load static %}

<!-- ***** Our Classes Start ***** -->
<section class="section" id="our-classes">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading">
          <h2>Our <em>Classes</em></h2>
          <img src="{% static 'images/line-dec.png' %}" alt="">
          <p>It encapsulates the idea that each class is not just about physical exertion, but about working towards a
            specific goal or purpose, whether it's fitness, strength, flexibility, or overall well-being.</p>
        </div>
      </div>
    </div>
    <div class="row" id="tabs">
      <div class="col-lg-4">
        <ul>
          <li><a href='#tabs-1'><img src="{% static 'images/tabs-first-icon.png' %}" alt="">First Training Class</a>
          </li>
          <li><a href='#tabs-2'><img src="{% static 'images/tabs-first-icon.png' %}" alt="">Second Training
              Class</a></a></li>
          <li><a href='#tabs-3'><img src="{% static 'images/tabs-first-icon.png' %}" alt="">Third Training Class</a></a>
          </li>
          <li><a href='#tabs-4'><img src="{% static 'images/tabs-first-icon.png' %}" alt="">Fourth Training
              Class</a></a></li>
          <div class="main-rounded-button"><a href="#">View All Schedules</a></div>
        </ul>
      </div>
      <div class="col-lg-8">
        <section class='tabs-content'>
          <article id='tabs-1'>
            <img src="{% static 'images/training-image-01.jpg' %}" alt="First Class">
            <h4>First Training Class</h4>
            <p>Welcome to our beginner-friendly FLEX Appeal gym class! Today, we'll start with simple stretching
              exercises like toe touches and arm circles to loosen up those muscles. We'll focus on proper form and
              getting comfortable with the basic movements.</p>
            <div class="main-button">
              <a href="#">View Schedule</a>
            </div>
          </article>
          <article id='tabs-2'>
            <img src="{% static 'images/training-image-02.jpg' %}" alt="Second Training">
            <h4>Second Training Class</h4>
            <p>In today's class, we're stepping it up a bit! We'll introduce some new stretches and exercises like
              seated hamstring stretches and shoulder stretches using resistance bands. Get ready to feel the burn as we
              build on what we learned last time.</p>
            <div class="main-button">
              <a href="#">View Schedule</a>
            </div>
          </article>
          <article id='tabs-3'>
            <img src="{% static 'images/training-image-03.jpg' %}" alt="Third Class">
            <h4>Third Training Class</h4>
            <p>Time to kick things into high gear! In this class, we'll focus on advancing our flexibility and strength
              with exercises like deep squats, overhead tricep stretches, and hip flexor stretches with a stability
              ball. Let's challenge ourselves and reach new levels of flexibility.</p>
            <div class="main-button">
              <a href="#">View Schedule</a>
            </div>
          </article>
          <article id='tabs-4'>
            <img src="{% static 'images/training-image-04.jpg' %}" alt="Fourth Training">
            <h4>Fourth Training Class</h4>
            <p>Congratulations on making it to our advanced FLEX Appeal gym class! Today, we're pulling out all the
              stops with intense stretches and dynamic movements. Think advanced yoga poses, deep lunges with twists,
              and dynamic stretches like leg swings and arm circles to enhance flexibility and mobility.</p>
            <div class="main-button">
              <a href="#">View Schedule</a>
            </div>
          </article>
        </section>
      </div>
    </div>
  </div>
</section>
<!-- ***** Our Classes End ***** -->