{% load static %}

<!-- ***** Testimonials Starts ***** -->
<section class="section" id="trainers">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h2>Expert <em>Trainers</em></h2>
                    <img src="{% static 'images/line-dec.png' %}" alt="">
                    <p>Our seasoned professionals provide top-tier guidance, tailored programs, and unmatched support to help you achieve your fitness goals efficiently and effectively."
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="trainer-item">
                    <div class="image-thumb">
                        <img src="{% static 'images/first-trainer(yvan).jpg' %}" alt="">
                    </div>
                    <div class="down-content">
                        <span>Strength Trainer</span>
                        <h4>Yvan L. Kalalo</h4>
                        <p>It focus on building overall muscular strength through resistance training, emphasizing heavier weights and lower repetitions and uses heavy weights and low reps for strength.</p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="trainer-item">
                    <div class="image-thumb">
                        <img src="{% static 'images/second-trainer(lyka).jpg' %}" alt="">
                    </div>
                    <div class="down-content">
                        <span>Muscle Trainer</span>
                        <h4>Lyka Mae P. Lalog</h4>
                        <p>It aim to increase muscle size (hypertrophy) through a combination of moderate to heavy weights and moderate repetitions, targeting specific muscle groups.</p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="trainer-item">
                    <div class="image-thumb">
                        <img src="{% static 'images/third-trainer(edward).jpg' %}" alt="">
                    </div>
                    <div class="down-content">
                        <span>Power Trainer</span>
                        <h4>Edward Ora-a Jr.</h4>
                        <p>prioritize explosive movements and high-intensity exercises to enhance speed, agility, and raw power, often incorporating plyometrics and Olympic lifts into their workouts.</p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="trainer-item">
                    <div class="image-thumb">
                        <img src="{% static 'images/fourth-trainer(jm).jpg' %}" alt="">
                    </div>
                    <div class="down-content">
                        <span>Flexibilty Trainer</span>
                        <h4>John Mark Manalo</h4>
                        <p>To prioritize flexibility, start with a dynamic warm-up and focus on static stretches and yoga poses. Your trainer can use techniques like PNF and assisted stretching to deepen flexibility. Incorporate tools like foam rollers and resistance bands for better results. Consistently follow a daily routine, monitor progress, and finish each session with cool-down stretches for recovery and injury prevention.</p>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Testimonials Ends ***** -->