{% extends 'master.html' %}

{% load static %}

{% block title %}
<title>Flex Appeal || Password Reset Confimation</title>
{% endblock %}

{% block content %}

<div class="main-banner" id="top">
    <video autoplay muted loop id="bg-video">
        <source src="{% static 'images/gym-video.mp4' %}" type="video/mp4" />
    </video>
  
    <div class="video-overlay header-text">
        <div class="caption">
            <div class="container">
                <div class="d-flex flex-column">
                      <p class="m-auto p-2">
                        We've emailed you instructions for setting your password, if an account exists with the email you entered.
                        You should receive them shortly.
                      </p>
                      <p class="m-auto p-2">
                        If you don't receive an email, please make sure you've entered the address you registered with,
                        and check your spam folder.
                      </p>
                      <p class="m-auto p-2"><a href="{% url 'index' %}">Return to Home</a></p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}