{% extends 'master.html' %}

{% load static %}

{% block title %}
<title>Flex Appeal || Reset Password Complete</title>
{% endblock %}

{% block content %}

<div class="main-banner" id="top">
    <video autoplay muted loop id="bg-video">
        <source src="{% static 'images/gym-video.mp4' %}" type="video/mp4" />
    </video>
  
    <div class="video-overlay header-text">
        <div class="caption">
            <div class="container bg-white p-4">
                <div class="d-flex flex-column">
                    <p class="m-auto">Your password has been reset. You may go ahead and <a href="{% url 'login' %}">Login</a> now.</p>
	            </div>
            </div>   
        </div>
    </div>
</div>

{% endblock %}